body {
    font-family: 'Arial', sans-serif;
    background: url('bg1.jpeg') no-repeat center center;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.5s ease;
}

.container {
    background-color: #d6c6c6dc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    font-size: 26px;
    color: #00796b;
}

p {
    margin-bottom: 25px;
    font-size: 14px;
    color: #555;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.input-section, .unit-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input {
    border: 1px solid #00796b;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
}
